@{
    ViewData["Title"] = "Register Page";
}

<div class="text-center">
    <h1 class="display-4">Register</h1>

    <form method="post">
        Name: <input type="text" name="Name" /> <br />
        Username: <input type="text" name="Username" /> <br />
        Password: <input type="password" name="Password" /><br />
        <button>Register</button><a href="Login">Login</a>
    </form>
</div>
