<h1>Add Contact</h1>

<style>
    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid orange;
        padding: 10px;
        text-align: left;
    }
</style>

<form method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name"></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><input type="text" name="PhoneNumber" /></td>
        </tr>
        <tr>
            <td colspan="2"><button>Add</button></td>
        </tr>
    </table>
</form>
