@{
    ViewData["Title"] = "AddTopic";
}

<h1>Add New Topic</h1>

<a href="../@ViewBag.id">Back</a>
<form method="post">
    Topic Name: <input type="text" name="TopicName"><br>
    Topic Content: <input type="text" name="TopicContent"><br>
    <button>Add</button>
</form>