@{
    ViewData["Title"] = "Topic";
}
@model Topic

<h1>@Model.TopicName</h1>
<h1>@Model.TopicContent</h1>


<a href="AddReply">Add New Reply</a><br/>
<table class="table">
    <thead>
        <tr>
            <th>Reply Content</th>
            <th>Posted Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reply in Model.Replies)
        {
            <tr>
                <td>@reply.ReplyContent</td>
                <td>@reply.ReplyDate</td>
            </tr>
        }
    </tbody>
</table>