@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <form method="post">
        Username: <input type="text" name="username" /> <br />
        Password: <input type="password" name="password" /><br />
        <button>Login</button><a href="Register">Register</a>
    </form>
</div>
